# LangSmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your-key"
LANGSMITH_PROJECT="your-key"

# OpenAI Configuration
OPENAI_API_KEY="your-key"

TAVILY_API_KEY="your-key"

